<div class="ejemplo-App">
  <!-- ! Comienza el sidebar -->
  <div class="">

    <div class="ejemplo-app-sidebar">
      <div class="ejemplo-app-sidebar-section">
        <h2> Instrucciones </h2>
        <ul>
          <li> Crea una nueva materia para poder hacer un evento </li>
          <li> Selecciona la fecha y podras crear el evento </li>
          <li> Puedes seleccionar un rango dando click y arrastrando el mouse </li>
          <li> Da click en un evento ya hecho para poder eliminarlo </li>
        </ul>
      </div>

      <div class="ejemplo-app-sidebar-section">
        <form [formGroup]="materiaForm" (ngSubmit)="createMat()">
          <div class="md-form">
            <label>Crear Materia</label>
            <input type="text" class="form-control" formControlName="materia">
          </div>
          <div class="md-form">
            <label>Color de tu materia</label>
            <input type="color" class="form-control" formControlName="color">
          </div>
          <button class="btn btn-success btn-md" type="submit" [disabled]="creating || materiaForm.invalid">
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="creating"></div> Añadir Materia
          </button>
        </form>
      </div>

      <div *ngIf="materias" class="ejemplo-app-sidebar-section">
        Lista de tus materias:
        <ul *ngFor="let materia of materias; let indice = index">
          <li [style.color]="materia.color"> {{materia.materia}} <button type="button" (click)="elimnMateria(indice)"
              class="close">
              <span aria-hidden="true">&times;</span>
            </button> </li>
          <!-- <li> {{materia.color}} </li> -->
        </ul>
      </div>

      <div class="ejemplo-app-sidebar-section">
        <label>
          <input type='checkbox' [checked]='calendarVisible' (change)="handleCalendarToggle()" />
          hacer visible/ocultar el calendario
        </label>
      </div>

      <div class="ejemplo-app-sidebar-section">
        <label>
          <input type='checkbox' [checked]='calendarOptions.weekends' (change)='handleWeekendsToggle()' />
          quitar/poner fines de semana
        </label>
      </div>
      <!-- ? mostramos todos los eventos creados -->
      <div class="ejemplo-app-sidebar-section">
        <h2> Todos los eventos ({{ currentEvents.length }}) </h2>
        <ul>
          <li *ngFor="let event of currentEvents">
            <b> {{ event.startStr }} </b>
            <i> {{ event.title }} </i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="demo-app-main">
    <full-calendar *ngIf="calendarVisible" [options]="calendarOptions"></full-calendar>
  </div>

</div>

<!-- ?Modals -->
<!-- ? Crear una tarea -->
<div class="modal fade" id="createTask" role="dialog" aria-labelledby="createTask" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTask">CREATE TASK</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm" (ngSubmit)="createTask()">
          <div class="md-form">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title"
              [ngClass]="{'is-invalid': isInvalidInput(getInput('title')) }">
          </div>
          <div class="md-form">
            <label>Description</label>
            <textarea class="form-control md-textarea" cols="30" rows="10" formControlName="description"
              [ngClass]="{'is-invalid': isInvalidInput(getInput('description')) }"></textarea>
          </div>
          <div class="md-form">
            <label>Materia</label>
            <select class="form-control" formControlName="color"
              [ngClass]="{'is-invalid': isInvalidInput(getInput('color'))}">
              <option *ngFor="let materia of materias" [value]="materia?.color"> {{materia.materia}} </option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label>Date</label>
            <input class="form-control" type="datetime-local" formControlName="reminderDate"
              [ngClass]="{'is-invalid': isInvalidInput(getInput('reminderDate')) }">
          </div> -->
          <button class="btn btn-success btn-md" type="submit" [disabled]="creating || taskForm.invalid">
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="creating"></div> CREATE TASK
          </button>
        </form>
        <!-- <app-infobox [info]="infoCreating"></app-infobox> -->
      </div>
    </div>
  </div>
</div>
<!-- ? fin crear tarea  -->

<!-- ? Mostrar informacion del evento -->
<div class="modal fade" id="viewTask" role="dialog" aria-labelledby="viewTask" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewTask">{{ taskInfo?.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ taskInfo?.description }}
      </div>
      <div class="modal-footer">
        <button *ngIf="selectedTask?.status === 'incomplete'" class="btn btn-success btn-md" [disabled]=""
          (click)="markAsDone()">
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="updating"></div> MARK AS DONE
        </button>
        <button class="btn btn-danger btn-md" [disabled]="" (click)="deleteTask()">
          <div class="spinner-border spinner-border-sm" role="status" *ngIf=""></div> DELETE
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ? FIN Mostrar informacion del evento -->